/guia4_BackEndWIthJava1/nbproject/private/
/guia4_BackEndWIthJava1/build/
/guia4_Ejercicios/nbproject/private/
/guia4_Ejercicios/build/
/Guia5_BackEndWithJava1/nbproject/private/
/Guia5_BackEndWithJava1/build/
/guia7_BEWJ1_POO_TEORIAEJER/nbproject/private/
/guia7_BEWJ1_POO_TEORIAEJER/build/
/guia7_BEWJ1_POO_EJER1/nbproject/private/
/guia7_BEWJ1_POO_EJER1/build/
/guia7_BEWJ1_POO_EJER2/nbproject/private/
/guia7_BEWJ1_POO_EJER2/build/
/guia7_BEWJ1_POO_EJER3/nbproject/private/
/guia7_BEWJ1_POO_EJER3/build/
/guia7_BEWJ1_POO_EJER4/nbproject/private/
/guia7_BEWJ1_POO_EJER4/build/